@charset "UTF-8";
body {
  margin: 0; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: #333; }
  a:hover {
    color: #1e7acd; }

.container {
  width: 920px;
  margin-left: auto;
  margin-right: auto; }

.clearfix {
  clear: both; }

.btn {
  width: 122px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: "Microsoft Yahei";
  font-size: 15px; }

.btn-blue {
  color: #FFFFFF;
  background-color: #4d8bd7;
  border: 1px solid #4b65bb; }
  .btn-blue:hover {
    background-color: #2c71c5; }

.btn-default {
  border: 1px solid #cccccc;
  color: #666666;
  background-color: #fff; }
  .btn-default:hover {
    background-color: #f2f2f2; }

.btn-group .btn {
  float: left;
  width: auto; }

.form-item {
  margin-bottom: 15px; }
  .form-item .form-control {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 10px;
    margin-left: -10px;
    border: 1px solid #aaa;
    width: 100%; }

.block .block-title {
  font-family: "Microsoft Yahei";
  border-bottom: 2px solid #ddd;
  padding-right: 5px;
  display: block; }

.block .block-title-inner {
  padding: 5px 12px 5px;
  float: left;
  border-bottom: 2px solid #1e7acd;
  margin-bottom: -2px; }

.block .block-content {
  padding: 10px; }

.block .more {
  margin-top: 10px;
  float: right;
  font-size: 12px; }
  .block .more a {
    font-weight: bold; }

.fl {
  float: left; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.ml-30 {
  margin-left: 30px; }

.p-5 {
  padding: 5px; }

.p-10 {
  padding: 10px; }

.p-20 {
  padding: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-50 {
  padding-bottom: 50px; }

.banner {
  width: 100%;
  overflow: hidden; }

.nav {
  height: 38px;
  line-height: 36px;
  background: url("../images/navbg.png") repeat-x; }
  .nav .navbar li {
    float: left;
    margin-left: 30px; }
    .nav .navbar li a {
      display: i8line-block;
      padding: 0 10px;
      color: #000;
      font-size: 14px;
      font-weight: bold; }
  .nav .navbar:after {
    clear: both; }

.news-slider {
  overflow: hidden;
  height: 300px;
  position: relative; }

.slider {
  position: relative; }
  .slider .slider-img img {
    width: 640px; }
  .slider .slider-nav {
    position: absolute;
    top: 238px;
    right: 15px;
    z-index: 9999; }
    .slider .slider-nav li {
      float: left;
      width: 15px;
      height: 15px;
      color: #FFF;
      background: url(../images/dot.png);
      cursor: pointer; }
      .slider .slider-nav li.active {
        background: url(../images/dot-blue.png); }
  .slider .slider-title {
    position: absolute;
    top: 230px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    overflow: hidden;
    height: 40px;
    line-height: 30px;
    z-index: 1000;
    padding: 0 15px; }
    .slider .slider-title a {
      color: #000; }
    .slider .slider-title .title-link {
      width: 100%; }
  .slider .slider-title-bg {
    position: absolute;
    top: 225px;
    width: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    height: 40px;
    background-color: #fff; }

.header .header-color-top {
  height: 15px;
  width: 100%;
  background-color: #127ac0; }

.header .header-body {
  height: 45px;
  background: url("../images/wave.png") repeat-x;
  background-size: cover; }

.header .brand {
  margin-left: 20px; }

.box {
  width: 860px;
  position: relative;
  overflow: hidden;
  _height: 100%; }

.picbox {
  width: 861px;
  height: 170px;
  overflow: hidden;
  position: relative; }

.piclist {
  height: 170px;
  position: absolute;
  left: 0px;
  top: 0px; }
  .piclist li {
    background: #eee;
    margin-right: 20px;
    height: 170px;
    padding: 5px;
    float: left; }
    .piclist li a {
      display: inline-block;
      width: 190px;
      height: 125px;
      overflow: hidden; }
    .piclist li p {
      font-size: 14px;
      padding: 7px;
      font-family: "Microsoft Yahei";
      text-align: center; }

.swaplist {
  position: absolute;
  left: -3000px;
  top: 0px; }

.og_prev, .og_next {
  width: 30px;
  height: 50px;
  background: url(../images/icon.png) no-repeat;
  background: url(../images/icon_ie6.png) no-repeat;
  position: absolute;
  top: 50px;
  z-index: 99;
  cursor: pointer;
  filter: alpha(opacity=70);
  opacity: 0.7; }

.og_prev {
  background-position: 0 -60px;
  left: 4px; }

.og_next {
  background-position: 0 0;
  right: 4px; }

.footer {
  background-color: #dfdfdf;
  color: #4e4e4e;
  font-size: 13px;
  text-align: center; }
  .footer .footer-top {
    background-color: #0078c1;
    height: 5px; }

.news-slider {
  overflow: hidden;
  height: 265px;
  position: relative;
  width: 635px;
  float: left;
  margin-right: 10px; }

.login-box {
  float: left;
  width: 231px;
  height: 265px;
  background-color: #ebebeb;
  padding: 0 22px; }
  .login-box .btn-group .btn {
    width: 66px;
    height: 35px;
    line-height: 30px;
    margin-right: 7px; }
  .login-box .btn-group .btn-register {
    width: 85px; }
  .login-box .btn-group button:last-child {
    margin-right: 0; }
  .login-box .login-title {
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    font-family: "Microsoft Yahei"; }
  .login-box .login-input {
    padding: 0 0 0 30px;
    width: 200px;
    margin: 0;
    background: url(../images/icons.png) no-repeat;
    background-color: #fff; }
  .login-box .auth-input {
    width: 120px;
    background-position: 4px -21px; }
  .login-box #img-data {
    margin-bottom: -9px;
    margin-left: 5px;
    cursor: pointer; }
  .login-box .username-input {
    background-position: 4px 8px; }
  .login-box .password-input {
    background-position: 4px -21px; }

.news {
  margin: 0 20px;
  width: 420px;
  float: left;
  margin-right: 10px; }
  .news .news-list li {
    line-height: 18px;
    font-size: 14px;
    overflow: hidden; }
    .news .news-list li a {
      color: #333;
      font-size: 13px;
      max-width: 320px;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block; }
      .news .news-list li a:hover {
        color: #1e7acd; }
    .news .news-list li .news-time {
      float: right;
      color: #999;
      font-size: 13px; }

.project {
  margin: 0 20px;
  width: 420px;
  float: left; }
  .project .block-title-inner {
    border-bottom: 2px solid #1e7acd; }
  .project .project-list li {
    line-height: 18px;
    font-size: 14px;
    overflow: hidden; }
    .project .project-list li a {
      color: #333;
      font-size: 13px;
      max-width: 300px;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block; }
      .project .project-list li a:hover {
        color: #1e7acd; }
    .project .project-list li .project-time {
      float: right;
      color: #999;
      font-size: 13px; }

.show .block-title {
  padding-top: 10px;
  width: 150px;
  float: left; }

.show .wave {
  float: left;
  width: 730px;
  background-image: url("../images/wave2.png");
  height: 50px; }

.content-body .body-top {
  padding: 15px 10px 10px 10px;
  border-bottom: 3px solid #D9D9D9;
  text-align: right; }

.content-body .breadcrumb {
  color: #777;
  font-size: 12px;
  float: left;
  line-height: 20px; }
  .content-body .breadcrumb a {
    font-size: 12px;
    color: #777; }

.content-body .more {
  color: #000;
  font-size: 13px; }

.content-body .body-inner .title {
  margin: 0 auto;
  line-height: 40px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center; }

.content-body .body-inner .postmeta {
  font-size: 13px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
  text-align: center; }
  .content-body .body-inner .postmeta span {
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
    color: #333; }

.content-body .body-inner .postcontent {
  padding: 10px;
  color: #333; }

.postcontent html, .postcontent address, .postcontent blockquote, .postcontent body, .postcontent dd, .postcontent div, .postcontent dl, .postcontent dt, .postcontent fieldset, .postcontent form, .postcontent frame, .postcontent frameset, .postcontent h1, .postcontent h2, .postcontent h3, .postcontent h4, .postcontent h5, .postcontent h6, .postcontent noframes, .postcontent ol, .postcontent p, .postcontent ul, .postcontent center, .postcontent dir, .postcontent hr, .postcontent menu, .postcontent pre {
  display: block; }

.postcontent li {
  display: list-item; }

.postcontent head {
  display: none; }

.postcontent table {
  display: table; }

.postcontent tr {
  display: table-row; }

.postcontent thead {
  display: table-header-group; }

.postcontent tbody {
  display: table-row-group; }

.postcontent tfoot {
  display: table-footer-group; }

.postcontent col {
  display: table-column; }

.postcontent colgroup {
  display: table-column-group; }

.postcontent td, .postcontent th {
  display: table-cell; }

.postcontent caption {
  display: table-caption; }

.postcontent th {
  font-weight: bolder;
  text-align: center; }

.postcontent caption {
  text-align: center; }

.postcontent body {
  margin: 8px;
  line-height: 1.12; }

.postcontent h1 {
  font-size: 2em;
  margin: .67em 0; }

.postcontent h2 {
  font-size: 1.5em;
  margin: .75em 0; }

.postcontent h3 {
  font-size: 1.17em;
  margin: .83em 0; }

.postcontent h4, .postcontent p, .postcontent blockquote, .postcontent ul, .postcontent fieldset, .postcontent form, .postcontent ol, .postcontent dl, .postcontent dir, .postcontent menu {
  margin: 1.12em 0; }

.postcontent h5 {
  font-size: .83em;
  margin: 1.5em 0; }

.postcontent h6 {
  font-size: .75em;
  margin: 1.67em 0; }

.postcontent h1, .postcontent h2, .postcontent h3, .postcontent h4, .postcontent h5, .postcontent h6, .postcontent b, .postcontent strong {
  font-weight: bolder; }

.postcontent blockquote {
  margin-left: 40px;
  margin-right: 40px; }

.postcontent i, .postcontent cite, .postcontent em, .postcontent var, .postcontent address {
  font-style: italic; }

.postcontent pre, .postcontent tt, .postcontent code, .postcontent kbd, .postcontent samp {
  font-family: monospace; }

.postcontent pre {
  white-space: pre; }

.postcontent button, .postcontent textarea, .postcontent input, .postcontent object, .postcontent select {
  display: inline-block; }

.postcontent big {
  font-size: 1.17em; }

.postcontent small, .postcontent sub, .postcontent sup {
  font-size: .83em; }

.postcontent sub {
  vertical-align: sub; }

.postcontent sup {
  vertical-align: super; }

.postcontent table {
  border-spacing: 2px; }

.postcontent thead, .postcontent tbody, .postcontent tfoot {
  vertical-align: middle; }

.postcontent td, .postcontent th {
  vertical-align: inherit; }

.postcontent s, .postcontent strike, .postcontent del {
  text-decoration: line-through; }

.postcontent hr {
  border: 1px inset; }

.postcontent ol, .postcontent ul, .postcontent dir, .postcontent menu, .postcontent dd {
  margin-left: 40px; }

.postcontent ol {
  list-style-type: decimal; }

.postcontent ol ul, .postcontent ul ol, .postcontent ul ul, .postcontent ol ol {
  margin-top: 0;
  margin-bottom: 0; }

.postcontent u, .postcontent ins {
  text-decoration: underline; }

.postcontent br:before {
  content: ”\A”; }

.postcontent :before, .postcontent :after {
  white-space: pre-line; }

.postcontent center {
  text-align: center; }

.postcontent abbr, .postcontent acronym {
  font-variant: small-caps;
  letter-spacing: 0.1em; }

.postcontent :link, .postcontent :visited {
  text-decoration: underline; }

.postcontent :focus {
  outline: thin dotted invert; }

.main-right {
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  min-height: 300px;
  position: relative; }
  .main-right .main-header .breadcrumb {
    margin-bottom: -7px; }
    .main-right .main-header .breadcrumb ul li {
      float: left; }
      .main-right .main-header .breadcrumb ul li a {
        color: #094359;
        font-size: 14px;
        font-weight: bold;
        font-family: "Adobe Heiti Std"; }
        .main-right .main-header .breadcrumb ul li a:hover {
          color: #094359; }
  .main-right .article .article-title {
    text-align: center;
    border-bottom: 1px solid #ddd; }
    .main-right .article .article-title h2 {
      padding: 0.4em 0 0.6em 0; }
  .main-right .article .addon {
    font-size: 12px;
    text-align: center;
    color: #999;
    padding: 10px 0; }
  .main-right .article .article-list {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px; }
    .main-right .article .article-list li {
      line-height: 30px;
      height: 30px;
      font-size: 13px;
      border-bottom: dashed 1px #CCCCCC; }
      .main-right .article .article-list li a {
        margin-left: 20px; }
    .main-right .article .article-list .article-time {
      float: right;
      margin-right: 10px; }
  .main-right .list-tag {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url(../images/news_tip.jpg);
    background-repeat: no-repeat; }
  .main-right .page {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    display: block;
    width: 100%;
    margin-bottom: 10px; }
