.header{
	.header-color-top{
		height: 15px;
		width: 100%;
		background-color: rgb(18,122,192);
	}
	.header-body {
		height: 45px;
		background: url('../images/wave.png') repeat-x;
		background-size: cover;
	}
	.brand {
		margin-left: 20px;
	}
} 