@import 'global.scss';
@import 'nav.scss';
@import 'slider.scss';
@import 'header.scss';
@import 'carousel.scss';
@import 'footer.scss';

.news-slider {
    overflow: hidden;
    height: 265px;
    position: relative;	
    width: 635px;
    float: left;
    margin-right: 10px;	
}

.login-box {
	float: left;
  	width: 231px;
  	height: 265px;
  	background-color: #ebebeb;
  	padding: 0 22px;
  	.btn-group {
  		.btn {
  			width: 66px;
  			height: 35px;
  			line-height: 30px;
  			margin-right: 7px;
  		}
  		.btn-register {
  			width: 85px;
  		}
  		button:last-child {
  			margin-right: 0;
  		}
  	}
	.login-title {
  		font-weight: normal;
  		text-align: center;
  		padding: 20px 0;
  		font-family: "Microsoft Yahei"
	}
	.login-input {
  		padding: 0 0 0 30px;
	  	width: 200px;
	  	margin: 0;
  		background: url(../images/icons.png) no-repeat;
  		background-color: #fff;
	}	
	.auth-input {
		width: 120px;
		background-position: 4px -21px;
	}
	#img-data {
		margin-bottom: -9px;
		margin-left: 5px;
		cursor: pointer;
	}
	.username-input {
  		background-position: 4px 8px;
	}
	.password-input {
	  	background-position: 4px -21px;
	}	
}

.news{
	margin: 0 20px;
	width: 420px;
	float: left;
	margin-right: 10px;
	.news-list{
		li{
			line-height: 18px;
			font-size: 14px;
			overflow: hidden;
			a{
				color: #333;
				font-size: 13px;
			    max-width: 320px;
			    margin-bottom: 5px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    display: inline-block;
				&:hover{
					color: #1e7acd;
				}
			}

			.news-time{
				float: right;
				color:#999;
				font-size: 13px;
			}
		}
	}
}
.project{
	margin: 0 20px;
	width: 420px;
	float: left;
	.block-title-inner{
		border-bottom: 2px solid #1e7acd;
	}
	.project-list{
		li{
			line-height: 18px;
			font-size: 14px;
			overflow: hidden;
			a{
				color: #333;
				font-size: 13px;
			    max-width: 300px;
			    margin-bottom: 5px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    display: inline-block;
				&:hover{
					color: #1e7acd;
				}
			}
			.project-time{
				float: right;
				color:#999;
				font-size: 13px;
			}
		}
	}
}

.show {
	.block-title {
		padding-top: 10px;
		width: 150px;
		float: left;
	}
	.wave {
		float: left;
		width: 730px;
		background-image: url('../images/wave2.png');
		height: 50px;
	}
}
