$navbar-height: 38px;
.banner{
	width: 100%;
	overflow: hidden;
}

.nav {
	height: $navbar-height;
	line-height: $navbar-height - 2;
	background: url('../images/navbg.png') repeat-x;
	.navbar{
		li{
			float: left;
			margin-left: 30px;
			a {
				display: i8line-block;
				padding: 0 10px;
				color: #000;
				font-size: 14px;
				font-weight: bold;
			}
		}
		&:after {
			clear: both;
		}
	}
}

